# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Wails build output
build/bin/
build/
dist/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

./eirin


.task/*
eirin
.task/checksum/build-frontend--PRODUCTION--
.task/checksum/generate-bindings--BUILD_FLAGS--buildvcs-false--gcflags-all---l--
bin/eirin
